<p id="notice"><%= notice %></p>

<p>
  <strong>Title:</strong>
  <%= @network.title %>
</p>

<p>
  <strong>Link:</strong>
  <%= @network.link %>
</p>

<%= link_to 'Edit', edit_network_path(@network) %> |
<%= link_to 'Back', networks_path %>
