<!DOCTYPE html>
<html lang="en">

  <head>

    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <meta name="description" content="">
    <meta name="author" content="">


    <title>Kristian Alves da Silva</title>

    <!-- Bootstrap core CSS -->
    <link href="example/vendor/bootstrap/css/bootstrap.min.css" rel="stylesheet">

    <!-- Custom fonts for this template -->
    <link href="example/vendor/font-awesome/css/font-awesome.min.css" rel="stylesheet" type="text/css">
    <link href="https://fonts.googleapis.com/css?family=Montserrat:400,700" rel="stylesheet" type="text/css">
    <link href="https://fonts.googleapis.com/css?family=Lato:400,700,400italic,700italic" rel="stylesheet" type="text/css">

    <!-- Plugin CSS -->
    <link href="example/vendor/magnific-popup/magnific-popup.css" rel="stylesheet" type="text/css">

    <!-- Custom styles for this template -->
    <link href="example/css/freelancer.min.css" rel="stylesheet">

  </head>

  <body id="page-top">

    <!-- Navigation -->
    <nav class="navbar navbar-expand-lg bg-secondary fixed-top text-uppercase" id="mainNav">
      <div class="container">
        <a class="navbar-brand js-scroll-trigger" href="#page-top">Kristian Alves</a>
        <button class="navbar-toggler navbar-toggler-right text-uppercase bg-primary text-white rounded" type="button" data-toggle="collapse" data-target="#navbarResponsive" aria-controls="navbarResponsive" aria-expanded="false" aria-label="Toggle navigation">
          Menu
          <i class="fa fa-bars"></i>
        </button>
        <div class="collapse navbar-collapse" id="navbarResponsive">
          <ul class="navbar-nav ml-auto">
            <li class="nav-item mx-0 mx-lg-1">
              <a class="nav-link py-3 px-0 px-lg-3 rounded js-scroll-trigger" href="#portfolio">Portfolio</a>
            </li>
            <li class="nav-item mx-0 mx-lg-1">
              <a class="nav-link py-3 px-0 px-lg-3 rounded js-scroll-trigger" href="#about">Sobre</a>
            </li>
            <li class="nav-item mx-0 mx-lg-1">
              <a class="nav-link py-3 px-0 px-lg-3 rounded js-scroll-trigger" href="#formacao">Formação</a>
            </li>
          </ul>
        </div>
      </div>
    </nav>

    <!-- Header -->
    <header class="masthead bg-primary text-white text-center">
      <div class="container">
          <% @profiles.each do |profile| %>
           <p> <%= image_tag profile.picture.url(:large) %> </p>
        <h1 class="text-uppercase mb-0"><%= profile.name %></h1> 
        <hr class="star-light">
        <h2> Web Developer - Full Stack</h2>
          <% end %>
      </div>
    </header>

    <!-- Portfolio Grid Section -->





    <section class="portfolio" id="portfolio">
      <div class="container">
        <h2 class="text-center text-uppercase text-secondary mb-0">Portfolio</h2>
        <hr class="star-dark mb-5">

        <% @projects.each do |project| %>
          <div class="col-md-6 col-lg-4">
              <div align="center">
                <%= link_to (image_tag project.image.url(:medium)) , project.link %>
                <h4> <%= project.title %> </h4>
              </div>
              <br>
          </div>
        <% end %>

      </div>
    </section>

    <!-- About Section -->
    <section class="bg-primary text-white mb-0" id="about">
      <div class="container">
        <h2 class="text-center text-uppercase text-white">Sobre</h2>
        <hr class="star-light mb-5">
        <div class="text-center mt-4">
          <% @profiles.each do |profile| %>
                  <h3 class="text-uppercase mb-0"></h3>
            <p class="lead"><%= profile.description %></p>
          <% end %>
        </div>
      </div>
    </section>


    <!-- Formacao Section -->
    <section id="formacao">
      <div class="container">
        <h2 class="text-center text-uppercase text-secondary">Formação</h2>
        <hr class="star-dark mb-5">
        <div class="text-center mt-4">
          <table border='2'>
            <thead style="font-size: 14px">
                <th width=100 height=30>Instituição</th>
                <th width=200>Curso</th>
                <th width=600>Descrição</th>
                <th width=80>Duração</th>
            </thead>

            <tbody>
              <% @educations.each do |education| %>
                <tr>
                  <td class="lead"><%= education.university %></td>
                  <td class="lead"><%= education.course %></td>
                  <td class="lead"><%= education.description %></td>
                  <td height=40 class="lead"><%= education.time %></td>
                </tr>
              <% end %>
            </tbody>
          </table>
        </div>

      </div>
    </section>


    <!-- Footer -->
    <footer class="footer text-center">
      <div class="container">
        <div class="row">
          <div class="col-md-4 mb-5 mb-lg-0">
            <h4 class="text-uppercase mb-4">Localização</h4>
            <p class="lead mb-0">Jaraguá do Sul - SC - Brasil
              <br>kristian.alves@gmail.com</p>
          </div>
          <div class="col-md-4 mb-5 mb-lg-0">
            <h4 class="text-uppercase mb-4">Redes Sociais</h4>
            <ul class="list-inline mb-0">
              <li class="list-inline-item">
                <% @networks.each do |network| %>
                  <h4> <%= link_to "#{network.title}", network.link %> <br> </h4>
                <% end %>

            </ul>
          </div>
          <div class="col-md-4">
            <h4 class="text-uppercase mb-4">About Freelancer</h4>
            <p class="lead mb-0">Freelance is a free to use, open source Bootstrap theme created by
              <a href="http://startbootstrap.com">Start Bootstrap</a>.</p>
          </div>
        </div>
      </div>
    </footer>

    <div class="copyright py-4 text-center text-white">
      <div class="container">
        <big>Copyright &copy; Kristian 2018</big>
      </div>
    </div>

    <!-- Scroll to Top Button (Only visible on small and extra-small screen sizes) -->
    <div class="scroll-to-top d-lg-none position-fixed ">
      <a class="js-scroll-trigger d-block text-center text-white rounded" href="#page-top">
        <i class="fa fa-chevron-up"></i>
      </a>
    </div>

  

    <!-- Bootstrap core JavaScript -->
    <script src="example/vendor/jquery/jquery.min.js"></script>
    <script src="example/vendor/bootstrap/js/bootstrap.bundle.min.js"></script>

    <!-- Plugin JavaScript -->
    <script src="example/vendor/jquery-easing/jquery.easing.min.js"></script>
    <script src="example/vendor/magnific-popup/jquery.magnific-popup.min.js"></script>

    <!-- Contact Form JavaScript -->
    <script src="example/js/jqBootstrapValidation.js"></script>
    <script src="example/js/contact_me.js"></script>

    <!-- Custom scripts for this template -->
    <script src="example/js/freelancer.min.js"></script>

  </body>

</html>
